#weekly-challenges-box table tr td:first-child {
    text-align: center;
}

span.spread {
    margin-left: 10px;
    color: green;
}

span.spread.positive {
    margin-left: 10px;
    color: red;
}
table#standings,table#standings tbody {
    display: table !important;
}
